.tui-pagination * {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tui-ico-ellipsis,
.tui-ico-first,
.tui-ico-last,
.tui-ico-next,
.tui-ico-prev {
  overflow: hidden;
}

.tui-pagination {
  display: flex;
  justify-content: center;
  height: 120px;
  background-color: var(--bg-primary);
  align-items: center;
}

.tui-page-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: transparent;
  color: var(--color-text-neutral);

  border: 1px solid var(--color-text-neutral);
}

.tui-page-btn:hover .tui-page-btn:focus {
  color: $color-accent;
  border: 2px solid $color-accent;
}
//Текущая страница
.tui-page-btn.tui-is-selected {
  color: var(--color-text-data);
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border: none;
}

.tui-page-btn.tui-first {
  display: none;
}
.tui-page-btn.tui-last {
  display: none;
}

.tui-page-btn.tui-prev-is-ellip.tui-first-child,
.tui-page-btn.tui-next-is-ellip.tui-last-child {
  border: none;
}

.tui-page-btn.tui-next {
  background-image: url(/src/images/arrow-next.png);
  background-position: 50%;
  background-repeat: no-repeat;
  border: none;
  margin-right: 0;
}

.tui-page-btn.tui-prev {
  background-image: url(/src/images/arrow-prev.png);
  background-position: 50%;
  background-repeat: no-repeat;
  border: none;
  margin-right: 0;
}

.tui-next-is-ellip,
.tui-prev-is-ellip {
  border: none;
  align-items: flex-end;
  width: 10px;
}

.tui-is-disabled {
  display: none;
}

.tui-next-is-ellip.tui-last-child {
  margin-right: 0;
}
